<h1>Constellations</h1>

<div *ngIf="!selected && !newConstellation">
  <div class="input-group mb-3">
    <button class="btn btn-outline-light" (click)="constellationtCreate()">
      Create Constellation
    </button>
  </div>

  <!-- ***************************************************** -->
  <!-- show table -->
  <!-- ***************************************************** -->

  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>About</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of constellations">
        <td (click)="selected = item">{{ item.name }}</td>
        <td (click)="selected = item">{{ item.about }}</td>
        <td>
          <button
            class="btn btn-outline-danger"
            (click)="deleteConstellation(item.id)"
          >
            X
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- ***************************************************** -->
<!-- show individual Constellation -->
<!-- ***************************************************** -->

<div *ngIf="selected && !editConstellation">
  <div class="input-group mb-3">
    <button class="btn btn-outline-light" (click)="selected = null">
      Constellation Table
    </button>
    <button class="btn btn-outline-light" (click)="constellationEdit()">
      Edit Constellation
    </button>
  </div>
  <h2>{{ selected.name }}</h2>
  <h2>{{ selected.about }}</h2>

  <ul  *ngIf="selected.stars"> Stars:>
    <li *ngFor="let star of selected.stars">
      <a style="color: white" [href]="'#/home/' + star.id">
        {{ star.name }}
      </a>
    </li>
  </ul>
  <img [src]="selected.imageUrl" width="250" height="250" />
</div>

<!-- ***************************************************** -->
<!-- edit Constellation -->
<!-- ***************************************************** -->

<form *ngIf="editConstellation">
  <div class="input-group mb-3">
    <span class="input-group-text">Name:</span
    ><input
      class="form-control"
      type="text"
      name="name"
      [(ngModel)]="editConstellation.name"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">About:</span
    ><textarea
      class="form-control"
      name="about"
      [(ngModel)]="editConstellation.about"
    ></textarea>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">Image:</span
    ><input
      class="form-control"
      type="text"
      name="img"
      [(ngModel)]="editConstellation.imageUrl"
    />
  </div>

  <div class="input-group mb-3">
    <button
      class="btn btn-outline-light"
      (click)="finishEdit(editConstellation.id, editConstellation)"
    >
      Save
    </button>
    <button class="btn btn-outline-light" (click)="editConstellation = null">
      Cancel
    </button>
    <button
      class="btn btn-outline-light"
      *ngIf="selected"
      (click)="selected = null; editConstellation = null"
    >
      Show Table
    </button>
  </div>
</form>
<!-- ***************************************************** -->
<!-- new Constellation -->
<!-- ***************************************************** -->

<form *ngIf="newConstellation">
  <div class="input-group mb-3">
    <span class="input-group-text">Name:</span
    ><input
      class="form-control"
      type="text"
      name="name"
      [(ngModel)]="newConstellation.name"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">About:</span
    ><textarea
      class="form-control"
      name="about"
      [(ngModel)]="newConstellation.about"
    ></textarea>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">Image:</span
    ><input
      class="form-control"
      type="text"
      name="img"
      [(ngModel)]="newConstellation.imageUrl"
    />
  </div>

  <div class="input-group mb-3">
    <button class="btn btn-outline-light" (click)="finishCreate(newConstellation)">
      Save
    </button>
    <button class="btn btn-outline-light" (click)="newConstellation = null">
      Cancel
    </button>
  </div>
</form>
